
$title-font: 'Great Vibes', cursive;
$normal-font:  'Roboto Condensed', sans-serif;

body {
	background-color: #E8EECD;
	font-family: $normal-font;

	h1 { 
		font-family: $title-font;
	}

	th{
		font-family: $title-font;	
	}
}


